.input-content {
  display: flex;
  margin-top: 27px;
  align-items: center;
}

.input-content > input {
  font-size: 17px;
  font-family: "Silkscreen", "Poor Story";
  outline: none;
  border: none;

  margin: 0 5px;
  padding: 0 6px;
}

.input-content > label:nth-child(1) {
  padding: 0 17px 0 0;

  font-weight: bolder;
  font-size: 16px;
}

.input-content > input:focus {
  border-bottom: 2px solid tomato;
}

.input-title {
  padding: 0 23px 0 0;

  font-weight: bolder;
  font-size: 18px;
}

#saveIdCheckbox {
  text-align: end;
}

.submit-btn {
  margin-top: 64px;

  background-color: tomato;
  color: white;

  font-size: 27px;
  font-weight: bolder;
  font-family: "Silkscreen", "Poor Story";

  border: none;
  border-radius: 15px;

  width: 100%;
}

/* signUp-message span */
.signUp-msg {
  font-size: 13px;
  letter-spacing: -1px;
}
.confirm {
  color: green;
}
.error {
  color: red;
}
