@charset "UTF-8";

#scroll-box {
  position: relative;

  width: 80%;
  height: 100%;
}

.container {
  position: absolute;

  display: grid;

  grid-template-columns: repeat(11, 150px);
  grid-template-rows: 37px;
  grid-auto-columns: minmax(50px, auto);
  grid-auto-rows: minmax(30px, auto);

  row-gap: 1px;
  column-gap: 1px;

  width: 100%;
  height: 200%;

  overflow-x: scroll;

  background-color: tomato;
}

.item {
  background-color: white;

  font-size: 17px;
  text-align: center;
}

.columnTitle {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 3px;
  padding-bottom: 3px;
}

#goToUserDetailPage {
  text-decoration: none;
  color: black;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.pagination > li {
  width: 20px;
  margin: 0 8px;
  text-align: center;
  list-style: none;
}

.pagination a {
  width: 100%;
  height: 100%;
  display: block;
  color: tomato;
  text-decoration: none;
}
